<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OlympusCVM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B83A4461FE98CA100E887E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B83A45F1FE98CA200E887E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B83A46A1FE98CA200E887E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
